In [88]:
import os
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
from matplotlib.dates import DateFormatter
import seaborn as sns
import pandas as pd

from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()

# Use dark grid plot background from seaborn
sns.set(font_scale=1.5, style="darkgrid")

In [89]:
'''

NASA/POWER SRB/FLASHFlux/MERRA2/GEOS 5.12.4 (FP-IT) 0.5 x 0.5 Degree Daily Averaged Data 

Dates (month/day/year): 03/01/2020 through 03/18/2021

Location: Latitude  26.921   Longitude 49.5992

Elevation from MERRA-2: Average for 1/2x1/2 degree lat/lon region = 24.51 meters   Site = na

Climate zone: na (reference Briggs et al: http://www.energycodes.gov)
Value for missing model data cannot be computed or out of model availability range: -999


Parameter(s):
PRECTOT       Precipitation (mm day-1)

RH2M          Relative Humidity at 2 Meters (%)

WS50M_RANGE   Wind Speed Range at 50 Meters (m/s)

WS10M_RANGE   Wind Speed Range at 10 Meters (m/s)

T2M           Temperature at 2 Meters (C)

T2MDEW        Dew/Frost Point at 2 Meters (C)

T2M_MAX       Maximum Temperature at 2 Meters (C)

T2M_MIN       Minimum Temperature at 2 Meters (C)

''';

In [108]:
xls = pd.ExcelFile('14_Cities_weather_cases.xlsx')
df_abha = pd.read_excel(xls, 'abha')
df_najran = pd.read_excel(xls, 'najran')
df_sharoura = pd.read_excel(xls, 'sharoura')
df_qurayat = pd.read_excel(xls, 'qurayat')
df_tabuk = pd.read_excel(xls, 'tabuk')
df_hail = pd.read_excel(xls, 'hail')
df_jed = pd.read_excel(xls, 'JED')
df_mak = pd.read_excel(xls, 'MAK')
df_taif = pd.read_excel(xls, 'TAIF')
df_madina = pd.read_excel(xls, 'MAD')
df_riyadh = pd.read_excel(xls, 'RUH')
df_dam = pd.read_excel(xls, 'DAM')
df_hofuf = pd.read_excel(xls, 'HOFUF') 
df_jubail = pd.read_excel(xls, 'JUBAIL')
df_dam.rename({"datae":"date"}, axis=1, inplace=True)

In [109]:
df_list = [
    df_abha, df_najran, df_sharoura, df_qurayat, df_tabuk, df_hail, df_jed, 
    df_mak, df_taif, df_madina, df_riyadh, df_dam, df_hofuf, df_jubail
]

In [112]:

df_mak

,PRECTOT,RH2M,T2MDEW,T2M_MAX,T2M_MIN,T2M,WS50M_RANGE,WS10M_RANGE,cases,recoveries,mortalities
date,,,,,,,,,,,
2020-03-01,0.0,37.99,8.54,31.40,18.28,23.79,4.30,5.14,NaN,NaN,NaN
2020-03-02,0.0,26.15,3.71,33.99,17.44,24.45,5.01,3.40,NaN,NaN,NaN
2020-03-03,0.0,34.03,8.42,33.07,19.27,25.51,5.11,4.52,NaN,NaN,NaN
2020-03-04,0.0,54.95,16.00,31.64,21.50,25.63,5.25,5.58,NaN,NaN,NaN
2020-03-05,0.0,56.52,16.34,32.17,20.69,25.52,2.45,3.62,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2021-03-12,0.0,37.53,12.17,35.14,22.97,28.07,2.61,3.61,16.0,38.0,NaN
2021-03-13,0.0,38.93,12.30,34.93,21.66,27.57,4.27,4.43,19.0,19.0,NaN
2021-03-14,0.0,40.34,12.84,34.46,22.26,27.55,7.34,7.02,20.0,7.0,NaN
2021-03-15,0.0,44.34,14.10,34.63,21.54,27.29,6.76,6.87,24.0,8.0,NaN
2021-03-16,0.0,36.78,11.34,35.19,21.72,27.48,7.30,7.35,19.0,12.0,NaN

#### Aggregate opperations

In [111]:
for df in df_list:
    df.drop(["LAT", "LON", "YEAR", "MO", "DY"], axis=1, inplace=True)
    try:
        df.index = df["date"]
        df.drop(["date"], axis=1, inplace=True)
    except KeyError:
        df.index = df["DATE"]
        df.drop(["DATE"], axis=1, inplace=True)
    df.drop(df.tail(2).index,inplace=True)

#### Functions and variables

In [70]:
phase1start = pd.to_datetime("2020-03-01").date()
phase1end = pd.to_datetime("2020-08-01").date()
phase2start = pd.to_datetime("2020-08-01").date()
phase2end = pd.to_datetime("2021-03-18").date()

In [71]:
def plot(df, title, xlabel="Months", ylabel="Values"):
    fig, ax = plt.subplots(figsize=(12, 12))
    ax.plot(df)
    date_form = DateFormatter("%m")

    ax.xaxis.set_major_formatter(date_form)
    ax.legend(df.columns.tolist(), loc='center left', bbox_to_anchor=(1, .5))

    ax.set(xlabel=xlabel,
           ylabel=ylabel,
           title=title)
    return fig, ax

## ABHA